
html{
  font-size: 62.5%;
}

body {
  margin: 0;
  font: 300 11px/1.4 'Helvetica Neue', 'sans-serif';
  background-color: rgb(32, 31, 31);
  overflow: hidden;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /*Base Stuff*/
  --midGround: rgba(255, 21, 251, 0.202);
  --background: black;
  --headings: white;
  --subheadings: #746d6d;
  --button: #a60fb7;
  --text: white;

  /*Home*/
  --hoverHome: rgb(190, 62, 190);

  /*Layout (changes animated letters hover)*/
  --hoverLayout: rgb(190, 62, 190);

  /*Sidebar*/
  --hoverSidebar: rgb(235, 123, 250);
  --icons: #ffffff;
  --sidebarBackground: #3a3a3a;
}

